In [64]:
companies = [
  { "id": "c1", "name": "Big Corp A", "parentId": None },
  { "id": "c2", "name": "Big Corp B", "parentId": None },
  { "id": "c3", "name": "Medium Corp A", "parentId": "c1" },
  { "id": "c4", "name": "Medium Corp B", "parentId": "c2" },
  { "id": "c5", "name": "Small Corp A", "parentId": "c3" },
  { "id": "c6", "name": "Small Corp B", "parentId": "c3" },
]
 
land_parcels = [
  { "id": "l1", "companyId": "c1" },
  { "id": "l2", "companyId": "c2" },
  { "id": "l3", "companyId": "c3" },
  { "id": "l4", "companyId": "c5" },
  { "id": "l5", "companyId": "c5" },
]

In [110]:
import pandas as pd

companies_df = pd.DataFrame(companies)
land_parcels_df = pd.DataFrame(land_parcels)

# land_parcels_df = land_parcels_df.rename(columns={"id" : "lp_id"})

land_parcels_df

   id companyId
0  l1        c1
1  l2        c2
2  l3        c3
3  l4        c5
4  l5        c5

In [62]:
def flatten_nested_list(parent_list):
    
    flat_list = [child for child_list in parent_list for child in child_list]
    
    while flat_list != [child for child_list in flat_list for child in child_list]:
        return(flatten(tt))
    
    return tt

def get_child_list(df, company_id):
    
    list_of_children = []
    
    child_mask = (df['parentId'] == company_id) & (df['id'] != company_id)
    childern_df = df[child_mask]
    
    first_children = childern_df['id'].values.tolist()
    
    if len(first_children) == 0:
        return list_of_children
    
    list_of_children.append(first_children)
    
    for child_id in first_children:
        list_of_children.append(get_child_list(df, child_id))

    # to flatten the list 
    list_of_children =  set(flatten_nested_list(list_of_children))
    
    return list_of_children

def get_land_parcels_for_company(company_id):
    
    companies_and_parcels = companies_df.merge

{'c5', 'c6', 'c3'}

In [59]:
import itertools

lk = ['3','0',['4',['5','0']],'0','12',['45',['15',['1','0']]]]

def flatten(t):
    
    tt = [item for sublist in t for item in sublist]
    
    while tt != [item for sublist in tt for item in sublist]:
        return(flatten(tt))
    
    return tt

list(flatten(lk))

NameError: name 'tt' is not defined

In [114]:
def get_children(df, company_id):
    
    child_mask = (df['parentId'] == company_id) & (df['id'] != company_id)
    children = df.loc[child_mask, ['id']]
    
    for child_id in children["id"].values.tolist():
        children = children.append(get_children(df, child_id))
    
    return children

def get_land_parcels_for_company(company_id):
    
    children = get_children(companies_df, company_id)
    
    land_parcels = land_parcels_df[land_parcels_df["companyId"] == company_id]
    
    land_parcels_indirect = land_parcels_df[land_parcels_df["companyId"].isin(children["id"])]
    
    land_parcels = land_parcels.append(land_parcels_indirect)
    
    return land_parcels["id"].unique().tolist()

get_land_parcels_for_company("c1")

['l1', 'l3', 'l4', 'l5']